<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TommyC.net</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link	href="https://fonts.googleapis.com/css2?family=Acme&family=Raleway:wght@200;400;500&family=Rubik:wght@300;400;500;600;700&display=swap"	rel="stylesheet"/>
  <link	rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/css/uikit.min.css"/>
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="https://kit.fontawesome.com/ade5c7beee.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit-icons.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>