<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
<nav class="uk-navbar-container" uk-navbar="mode: click" id="master-topnav">
<div class="uk-navbar-left">
	<a class="uk-navbar-item uk-logo" href="/">Tommy Craft</a>
</div>
<div class="uk-navbar-center">
		<ul class="uk-navbar-nav">
				<!-- <li><a href="/aboutme">About Me</a></li> -->
				<li>
					<a href="#">Development</a>
					<div class="uk-navbar-dropdown">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li><a href="/devportfolio">Portfolio</a></li>
							<li><a href="/devresume">Resume</a></li>
							<!-- <li><a href="/devmisc">Thoughts</a></li> -->
						</ul>
					</div>
				</li>
				<li>
					<a href="#">Motorcycling</a>
					<div class="uk-navbar-dropdown">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li><a href="/gwen">Gwen</a></li>
							<li><a href="/riderresume">Riding Resume</a></li>
							<li><a href="/ridereports">Ride Reports</a></li>
						</ul>
					</div>
				</li>
				<!-- <li>
					<a href="#">Photography</a>
					<div class="uk-navbar-dropdown">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li><a href="/photogear">My Gear</a></li>
							<li><a href="/photography">Portfolio</a></li>
						</ul>
					</div>
				</li>
				<li><a href="/misc">Potpourri</a></li> -->
		</ul>
</div>
<div class="uk-navbar-right">
		<ul class="uk-navbar-nav">
				<li>
						<a
						href="https://www.github.com/djfriar"
						class="hidden-link"
						target="_blank"
					>
						<i class="fab fa-github"></i>
					</a>
				</li>
				<li>
					<a
					href="https://www.instagram.com/djfriar"
					class="hidden-link"
					target="_blank"
					>
					<i class="fab fa-instagram"></i>
				</a>
				</li>
				<li>
					<a
					href="https://www.twitter.com/djfriar"
					class="hidden-link"
					target="_blank"
					>
					<i class="fab fa-twitter"></i>
				</a>
        </li>
        <li>
					<a
					href="https://www.linkedin.com/in/djfriar/"
					class="hidden-link"
					target="_blank"
					>
					<i class="fab fa-linkedin-in"></i>
				</a>
				</li>
		</ul>
</div>
</nav>
</div>
