<!-- Desktop Navigation -->
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <div class="gradientbar"></div>
  <nav class="uk-navbar-container" uk-navbar="mode: click" id="master-topnav">
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo uk-hidden@s" href="/">TC</a>
      <a class="uk-navbar-item uk-logo uk-visible@s" href="/">Tommy Craft</a>
    </div>
    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav uk-visible@m">
        <li>
          <a href="#">Development</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a href="/devportfolio">Portfolio</a></li>
              <li><a href="/devresume">Resume</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#">Motorcycling</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a href="/gwen">Gwen</a></li>
              <li><a href="/riderresume">Riding Resume</a></li>
              <li><a href="/ridereports">Ride Reports</a></li>
              <li><a href="/bikehistory">Motorcycle History</a></li>
            </ul>
          </div>
        </li>
        <li class="uk-parent">
          <a href="#">Vehicles</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a href="/tacomadetails">My Tacoma</a></li>
              <li><a href="/carhistory">Vehicle History</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="uk-navbar-right ">
      <a href="#" class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle="target: #mobilenav"></a>
      <ul class="uk-navbar-nav uk-visible@m ">
        <li>
          <a href="https://www.github.com/djfriar" class="hidden-link" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/djfriar" class="hidden-link" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com/djfriar" class="hidden-link" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/djfriar/" class="hidden-link" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- Mobile Navigation -->
<div id="mobilenav" uk-offcanvas="flip: true" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav">
      <li class="uk-parent">
        <a href="#">Development</a>
        <ul class="uk-nav-sub">
          <li><a href="/devportfolio">Portfolio</a></li>
          <li><a href="/devresume">Resume</a></li>
        </ul>
      </li>
      <li class="uk-parent">
        <a href="#">Motorcycling</a>
        <ul class="uk-nav-sub">
          <li><a href="/gwen">Gwen</a></li>
          <li><a href="/riderresume">Riding Resume</a></li>
          <li><a href="/ridereports">Ride Reports</a></li>
          <li><a href="/bikehistory">Motorcycle History</a></li>
        </ul>
      </li>
      <li class="uk-parent">
        <a href="#">Vehicles</a>
        <ul class="uk-nav-sub">
          <li><a href="/tacomadetails">My Tacoma</a></li>
          <li><a href="/carhistory">Vehicle History</a></li>
        </ul>
      </li>
      <hr>
      <div class="social-links">
        <a href="https://www.github.com/djfriar" class="hidden-link" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com/djfriar" class="hidden-link" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.twitter.com/djfriar" class="hidden-link" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/djfriar/" class="hidden-link" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </ul>
  </div>
</div>