<!DOCTYPE html>
<html lang="en">
<head>
		<%- include('../../partials/head'); %>
</head>
<body>
	<div class="gradientbar"></div>
	<%- include('../../partials/topnav'); %>
	<div class="container" uk-height-viewport="expand: true">
		
		<div>&nbsp;</div>
		<main>
			<h4 class="tuck-content">My First IBA Ride (BunBurner Silver)</h4>
			<h5 class="tuck-content">July 3rd, 2020</h5>
			<p>In June I completed my first IBA ride, earning me IBA # 72302. I rode from Dallas, TX to Buellton, CA though officially my path was Wautauga, TX to Santa Barbara, CA due to a false start and needing to find an ending witness. I was able to nest a SaddleSore 1000 inside a Bun Burner 1500 Silver, completing 1,527 miles in 27 hours and 3 minutes.</p>
			
			<p>This was a supremely uneventful ride, so I didn't take any notes or pics outside the required documentation, so there isn’t much to report on. Future rides will be better notated to take advantage of having my own platform to host ride reports though.</p>
		</main>
	</div>
		<footer>
				<%- include('../../partials/footer'); %>
		</footer>
</body>
</html>