<!DOCTYPE html>
<html lang="en">
<head>
		<%- include('../../partials/head'); %>
</head>
<body>
	<div class="gradientbar"></div>
	<%- include('../../partials/topnav'); %>
	<div class="container" uk-height-viewport="expand: true">
		
		<div>&nbsp;</div>
		<main>
			<h4 class="tuck-content">Ride Around Texas Insanity</h4>
			<h5 class="tuck-content">Sept 28th - Oct 2nd, 2021</h5>
      <h4>&nbsp;</h4>
      <h6> Ride Background and Planning</h6>
			<p>As part of the IBA Big As Texas Rideapalooze event, I decided to sign up for the RAT, mostly so I could get my certificate instantly from Mr. Kneebone himself.</p>
			
			<p>The RAT (Ride Around Texas) is a ride following the borders of Texas and is around 3,100 miles in length. The standard version allows 85 hours to complete, and the Gold version shortens that down to 70 hours. That would make this the largest ride I have attempted thus far (a SaddleSore 2000 being my largest ride to date).</p>
			
			<p>After mapping out both the clockwise and counter-clockwise routes, I decided upon the clockwise route, with planned stops near South Padre and El Paso. 
        This would let me break the ride into 3 legs and my calculations put me at 69.5 hours to complete, which would qualify me for Gold. Since the start of the ride was only 30 miles north of me, I decided I would just head up the morning of the ride start. Here is the route as I planned it:</p>
      <img data-src="/images/rat/RoutePlan.jpg" alt="Planned Route" class="reportImagePano" uk-img uk-toggle="target: #routeplan">
			
      <h6>Plano (Home) to Denison (Ride Start)</h6>
			<div class="uk-clearfix storyBlock">
				<span>5:30am, let’s get this show on the road. I had pre-packed the bike so I started her to head up to Denison and was greeted by a TPMS warning. I knew I had forgotten something; now I know what it was: to air up the tire fully. A few days prior I had gotten a new rear tire; but hadn't dialed in the psi yet. No problem, there is a gas station around the corner with an air station.
          <br>&nbsp;<br>
          Three gas stations, one roadside pulloff, and 30 miles later I arrived at the start hotel. It was now 6:35am and I needed to sign my waiver and check in before the 6:45am riders meeting. Something still seems off with the tire, but there is another gas station across the street and I can look at it once the ride has started.
          <br>&nbsp;<br>
          Check in and meeting go quickly and we are sent out to our bikes. I head over to the QuikTrip to buy an air pressure gauge and that is when I discover the rear tire was at 61 psi. I quickly lower it back down to 36 and toss the gauge into my trunk. I fill up the tank with fuel and grab my start receipt showing a 7:08am start time. Let's do this!
        </span>
			</div>

      <h4>Leg 1 - Denison to South Padre</h4>
      <h6>Denison to Texarkana</h6>
      <div class="uk-clearfix storyBlock">
				<span>
          I head down I-75 and grab US-82 East which will take me all the way to Texarkana. Texarkana is a required city for the RAT, and I picked a Murphy USA station just off I-369. I make great time, arriving at Texarkana almost 15 minutes earlier than I planned. However, my GPS units are now disagreeing with each other (I run InRoute on the primary display and a Garmin Nuvi XT as a secondary). Since Garmin has burned me before, I follow my primary InRoute nav into the middle of Texarkana. Hmmm, somethign has gone awry.
          <br>&nbsp;<br>
          Turns out I had forgotten to refresh the InRoute software to get my latest update, so it was taking me to the city center instead of the gas station I had chosen. I quickly grab gas at the nearest gas station and begin to head out of town. Until I notice a sign that indicated I'm in Arkansas now, not Texas. So I quickly check my tracker and find where I crossed the state line and book it back over. While on the way I call the Tim Masterson and admit my screwup. He says to just get a new receipt on the Texas side and continue on.
          <br>&nbsp;<br>
          I quickly locate a McDonald's in the proper state and grab my receipt and an Egg McMuffin. I quickly scarf the sandwich down and dash off to the next stop. I'm now 20 minutes behind my planned exit time.
        </span>
			</div>

      <h6>Texarkana to Port Arthur</h6>
      <div class="uk-clearfix storyBlock">
				<span>
          I make my way to US-59 and head south towards the next required city, port Arthur. Along the way I stop in Center to grab gas. I'm able to keep this stop quick and when I leave Center I'm down to being only 9 minutes behind schedule. From now until I hit El Paso, all of my ride will be on roads new to me as I had never been to the gulf before.
          <br>&nbsp;<br>
          As I near Jasper I start to feel droplets hitting me. I sure hope it doesn't - I don't even get to finish the thought before the rain starts. I quickly pull off and toss on my Bilt Explorer jacket before getting back on the road. The rain is steady but not too bad. This continues until I reach Port Arthur.
          <br>&nbsp;<br>
          Just before reaching Port Arthur is the apty named Bridge City (which I swear was a Super Mario level name). Riding through here was pretty cool as it has an absolutely massive bridge to cross just before you get to Port Arthur. I have no idea what the heck ship crosses under it, but it must clearly be massive. It is a shame it was raining so much, this would have made for some great pics/footage.
          <br>&nbsp;<br>
          Port Arthur itself is a quick stop. I grab some fuel and use the restroom and am back on the road in under 10 minutes.
        </span>
			</div>

      <h6>Port Arthur to Galveston</h6>
      <div class="uk-clearfix storyBlock">
        <div class="uk-float-left">
					<img data-src="/images/rat/ferry.jpeg" alt="Galveston/Port Isabel Ferry" class="reportImage" uk-img uk-toggle="target: #ferry">
				</div>
				<span>
          The next required city is Port Isabel, where I have to take the ferry over to Galveson. To get there you take TX-87 which has some incredibly cool looking beach houses all along it, especially the Crystal Beach area. All the houses are on stilts, and most are 3 stories tall. Definately an area I woudl like to return to in the future. Unfortuantely, the rain was bad here so no opportunity to take any pics. Fortunately, I have somehow made up time and am now due to hit the ferry 4 minutes ahead of schedule.
          <br>&nbsp;<br>
          I must have expressed that optimism too openly, as while exiting Crystal Beach I ended up behind a school bus dropping off kids every block and a half along their single lane road. I am eventually able to pass the school bus (legally and safely) and hightail it to the ferry, which I arrive at 3 minutes later than planned. This ended up being ok though as when I got there the ferry was pulling in and I only had to wait 10 minutes to get loaded onto the ferry.
          <br>&nbsp;<br>
          The rain has me really bummed out now as I was quite excited about the ferry, but the rain is making it kinda miserable. I was impressed with how little the rough seas bothered the ferry though; there was barely any sway even though the waves had some pretty significant chop to them. The 2 mile ride took just under 20 minutes, during which time I grabbed the required photo to show that I took the ferry.
          <br>&nbsp;<br>
          Once on the Galveston side we are deboarded and I quickly reach the Chevron I had chosen to fill up at about a mile up from the ferry port. The ferry gods did decide to bless me, even if the weather gods were mad at me for some reason and my planned 90 minutes for the ferry took less than 40. Having fueled up and documented my Galveston stop, its time to continue on.
        </span>
			</div>

      <h6>Galveston to South Padre</h6>
      <div class="uk-clearfix storyBlock">
				<span>
          Heading out of Galveston, it seems most people go up near the outer edge of Houston and then take US-59 from there over to I-69. I, however, wanted nothing to do with Houston and instead opted to take TX-35 and hug the gulf coast a bit closer. While the rain was still not relenting, the roads were pretty empty and quite peaceful.   
          <br>&nbsp;<br>
          As I passed through Angleton, I spotted the smallest Buc-ee's I'd seen; but with the rain getting heavy and really starting to irritate me I took an unplanned stop and went inside to get out of the rain for a little while.
          <br>&nbsp;<br>
          The unplanned stop helped a lot, and I picked up some yummy beef jerky, a fresh water, and a Milky Way to further pick me up. I passed through Bay View and Edna before reaching required stop Victoria. Another tank of fuel and I'm on my way heading towards South Padre.
          <br>&nbsp;<br>
          As I passed through Refugio the rain finally stopped and the temperature raised considerably. I decided to tempt the weather gods and stopped to take off my jacket.
          <br>&nbsp;<br>
          The ride to South Padre was uneventful and I enjoyed a rather long bridge onto South Padre Island where I quickly got my gas recipt before turning around to cross the bridge again and make my way to the Casa Rosa Inn, my first hotel stop.
          <br>&nbsp;<br>
          I got to the hotel just after midnight, where the clerk proceeded to ask me a bunch of questions about my bike. I really, really just wanted to sleep, but his excitement won me over and I entertained him for 20 minutes before finally getting my key and making my way into my room. The room was fine, but the bed was the loudest frame I'd ever heard, even just breathing would make it squeak. It didn't matter though and I quickly fell asleep.
        </span>
			</div>

      <h4>Leg 2 - South Padre to Anthony</h4>
      <h6>South Padre to Del Rio</h6>
      <div class="uk-clearfix storyBlock">
				<span>
          <br>&nbsp;<br>
          <br>&nbsp;<br>
          <br>&nbsp;<br>
          <br>&nbsp;<br>
          <br>&nbsp;<br>
        </span>
			</div>

      <h4>Leg 3 - Anthony to Denison</h4>
			
			<h6>Closing Thoughts</h6>
			<p>Summary Sentence.</p>
			<p>What's Next Sentence.</p>
		</main>
	</div>
		<footer>
				<%- include('../../partials/footer'); %>
		</footer>
		
		<!-- These are the image modals -->
		<div id="ferry" class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">Galveston/Port Isabel Ferry</h4>
				<img data-src="/images/rat/ferry.jpeg" alt="Galveston/Port Isabel Ferry" class="modalImage" uk-img>
			</div>
		</div>
		<div id="image2" class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">CA1 Memorial</h4>
				<img data-src="/images/iba2/2-CA1.jpeg" alt="CA1 Memorial" class="modalImage" uk-img>
			</div>
		</div>
		<div id="image3" class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">Crowley Lake Panoramic</h4>
				<img data-src="/images/iba2/CrowleyLakeFull.jpg" alt="Crowley Lake" class="modalImage" uk-img>
			</div>
		</div>
		<div id="image4"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">Mono Lake</h4>
				<img data-src="/images/iba2/MonoLake1.jpg" alt="Mono Lake" class="modalImage" uk-img>
			</div>
		</div>
		<div id="image5"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">Private Carnival</h4>
				<img data-src="/images/iba2/PrivateCarnival.jpg" alt="private carnival" class="modalImage" uk-img>
			</div>
		</div>
		<div id="image6"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">CA7 Memorial</h4>
				<img data-src="/images/iba2/5-CA7.jpeg" alt="CA7 Memorial" class="modalImage" uk-img>
			</div>
		</div>
		<div id="image7"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">CA4 Memorial</h4>
				<img data-src="/images/iba2/6-CA4.jpeg" alt="CA4 Memorial" class="modalImage" uk-img>
			</div>
		</div>
		<div id="image8"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">CA5 Memorial</h4>
				<img data-src="/images/iba2/9-CA5.jpeg" alt="CA5 Memorial" class="modalImage" uk-img>
			</div>
		</div>
		<div id="image9"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">CA2 Memorial</h4>
				<img data-src="/images/iba2/11-CA2.jpeg" alt="CA2 Memorial" class="modalImage" uk-img>
			</div>
		</div>
		<div id="image10"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">CA3 Memorial</h4>
				<img data-src="/images/iba2/13-CA3a.jpeg" alt="CA3 Memorial" class="modalImage" uk-img>
			</div>
		</div>
		<div id="image11"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">CA6 Memorial</h4>
				<img data-src="/images/iba2/14-CA6.jpeg" alt="CA6 Memorial" class="modalImage" uk-img>
			</div>
		</div>
		<div id="routeplan"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">Route Plan</h4>
				<img data-src="/images/rat/RoutePlan.jpg" alt="Route Plan" class="modalImage" uk-img>
			</div>
		</div>
</body>
</html>