<!DOCTYPE html>
<html lang="en">
<head>
		<%- include('../../partials/head'); %>
</head>
<body>
	<div class="gradientbar"></div>
	<%- include('../../partials/topnav'); %>
	<div class="container" uk-height-viewport="expand: true">
		<div>&nbsp;</div>
		<main>
		<ul>
			<li><a href="/ridereports/iba1">My First IBA Ride (BunBurner Silver)</a></li>
			<li><a href="/ridereports/iba2">Tour of Honor Extreme (SS1000 & BB1500)</a></li>
			<li><a href="/ridereports/rat">Ride Around Texas Insanity</a></li>
		</ul>
		</main>
	</div>
		<footer>
				<%- include('../../partials/footer'); %>
		</footer>
</body>
</html>