<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <div class="container" uk-height-viewport="expand: true">
    <div class="gradientbar"></div>
    <%- include('../../partials/topnav'); %>
      <div>&nbsp;</div>
      <main>
        <h3>My Car History</h3>
        <p>
          I have owned a rediculous amount of cars and trucks over the years. Below is a reverse chronological list of the cars I've owned. Some of the cars listed can be clicked on for more details.
        </p>
        <ul>
          <li><a href="/civicdetails">2022 Honda Civic Touring</a></li>
          <li><a href="/tacomadetails">2021 Toyota Tacoma TRD Sport 4x4</a></li>
          <li>2003 Ford F-150 STX</li>
          <li>1998 Jeep Grand Cherokee Special Edition 4x4</li>
          <li>2018 Volkswagen Passat SE</li>
          <li>2015 Dodge Ram Big Horn 4x4</li>
          <li>2015 Volkswagen Jetta SE</li>
        </ul>
      </main>
  </div>
  <footer>
    <%- include('../../partials/footer'); %>
  </footer>

</body>

</html>