body {
  background-color: #2c3038;
  color: #fff;
  font-family: "Raleway", sans-serif;
  height: 100%;
}

main {
  padding: 20px;
}

.uk-modal-dialog {
  background-color: #2c3038;
  color: #fff;
  border-radius: 12px;
}

.uk-modal-close-full {
  background-color: #2c3038;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Acme", sans-serif;
}

h2 {
  font-size: 3em;
  color: #fff;
  margin: 0px;
}

h3 {
  font-size: 2.5em;
  color: #fff;
  margin: 0px;
}

h4 {
  font-size: 2em;
  color: #fff;
  margin: 0px;
}

h5 {
  font-size: 1.5em;
  color: #fff;
  margin: 12px 0px;
}

h6 {
  font-size: 1.25em;
  color: #fff;
  margin: 12px 0px;
}

img.reportImage {
  border-radius: 12px;
  height: 325px;
  margin-right: 12px;
}

img.reportImagePano {
  border-radius: 12px;
  height: 325px;
  display: block;
  margin: 0px auto 0px auto;
}

img.modalImage {
  border-radius: 12px;
  display: block;
  margin: 12px auto 0px auto;
}

#songlyric {
  text-align: center;
  font-size: 1em;
  color: #ffffffcc;
}

.uk-nav {
  font-size: 1.6em;
  line-height: 1.3em;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

.uk-logo {
  font-size: 1.5em;
  font-family: "Acme", sans-serif !important;
  color: #fff;
}

#master-topnav {
  background-color: #2c3038;
}

#master-topnav .uk-navbar-nav a:link,
#master-topnav .uk-navbar-nav a:visited {
  font-size: 1.4em;
  font-family: "Acme", sans-serif !important;
}

.uk-navbar-dropdown {
  color: #666;
  opacity: 1;
  box-shadow: none;
  background: #ffffff;
}

#master-topnav .uk-navbar-nav .uk-navbar-dropdown li a:link,
#master-topnav .uk-navbar-nav .uk-navbar-dropdown li a:visited {
  font-size: 0.8em;
  font-family: "Acme", sans-serif !important;
  color: #666;
}

.uk-nav a:link,
.uk-nav a:visited {
  color: #ffffffcc;
  opacity: 0.9;
}

.uk-nav-sub {
  font-size: 0.8em;
  line-height: 1.3em;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

.gradientbar {
  height: 0.4em;
  width: 100%;
  background: linear-gradient(90deg, blue 0%, #7c00c1 30%, #c30a0a 100%);
  position: fixed;
  top: 0;
  z-index: 100;
}

#social-links {
  text-align: center;
  font-size: 2em;
  margin: 20px 0px;
}

#social-links a {
  margin: 0 6px;
}

a.hidden-link:link,
a.hidden-link:visited {
  color: #d5dae4;
}

a.hidden-link:hover {
  color: #666;
}

.container {
  padding: 12px;
}

.tuck-content {
  margin-top: 0px;
  margin-bottom: 0px;
}

footer {
  font-size: 0.75em;
}

.portfolioItem {
  padding: 20px 0px;
  /* height: 325px; */
}

.portfolioItem p {
  margin-left: 6px;
}

.inlineStrong {
  font-weight: 600;
}

.inlineIcon {
  margin: 0px 6px;
}

.bigIcon {
  font-size: 3.0em;
  margin-top: 6px;
  color: #d5dae4;
}

.portBtn {
  color: #d5dae4;
  font-size: 0.8em;
  padding: 0px 10px;
  border-color: #d5dae480;
  border-radius: 12px;
  margin: 0px 6px;
}

.portBtn:hover {
  color: #d5dae4;
  border-color: #d5dae4;
}

.portBtn img {
  width: 150px;
}
