<!DOCTYPE html>
<html lang="en">
<head>
		<%- include('../partials/head'); %>
</head>
<body>
	<div class="gradientbar"></div>
	<%- include('../partials/topnav'); %>
	<div class="container" uk-height-viewport="expand: true">
		<div>&nbsp;</div>
		<main>
    <div class="uk-text-center title-404">404</div>
    <p class="uk-text-center">Looks like you tried to go somewhere that doesn't exist. No worries, you can just <a href="/">click here</a> to go back to the homepage.</p>
		</main>
	</div>
		<footer>
				<%- include('../partials/footer'); %>
    </footer>
    <script src="/js/lyrics.js"></script>
</body>
</html>