<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="gradientbar"></div>
  <%- include('../partials/topnav'); %>
    <div class="container" uk-height-viewport="expand: true">
      <div>&nbsp;</div>
      <main>
        <h3>Resume & Portfolio</h3>
        <p>Please click <a href="/files/Tommy-Craft-Resume.pdf" target="_blank">here</a> to download my resume as a PDF.
          You may also review it below.</p>
        <h4>Summary</h4>
        <p>
          Full stack web developer and experienced software development manager educated at SMU Cox. Skills in CSS,
          JavaScript, Angular, and Swift and strong strengths in meeting deadlines, teamwork, product planning, and
          executive relations. Passionate about programming with an emphasis on sleek and intuitive user experiences. A
          natural ability to bridge the divide between technical jargon and layman’s terms, while also fully
          understanding both technical minutiae and C-Level milestones, making for a very strong addition to any
          engineering team.
        </p>
        <h4>Technical Skills</h4>
        <p>
          Languages: JavaScript, CSS, HTML, Swift, SwiftUI, SQL<br>
          Frameworks: React, Angular, ExpressJS, NodeJS<br>
          Applications: Xcode, Nova, VS Code, macOS, JIRA, Office365<br>
        </p>
        <h4>Projects</h4>
        <h5>Reverse Engineering Code (Homework 14) | <a
            href="https://github.com/DJFriar/SMU-Homework-14-Reverse-Engineering-Code">Source Code</a> |<a
            href="https://emu-homework-14.herokuapp.com">Deployed App</a></h5>
        <ul>
          <li>Web site created during SMU Full Stack Web Development Bootcamp.</li>
          <li>Handled all coding tasks as well as design customizations and improvements.</li>
          <li>Written in HTML, CSS, and JavaScript using VSCode.</li>
          <li>Leverages Express, Handlebars, NodeJS, Prism, and Heroku</li>
        </ul>
        <h5>Group Project 2 (Outdoor Adventures) | <a
            href="https://github.com/DJFriar/SMU-Project-02-Outdoor-Adventures">Source Code</a> |<a
            href="https://smu-project-outdoor-adventures.herokuapp.com">Deployed App</a></h5>
        <ul>
          <li>Web site created during SMU Full Stack Web Development Bootcamp.</li>
          <li>Worked in a group of two other students where I managed the dev ops aspects while also contributing to
            front and back end code.</li>
          <li>Written in HTML, CSS, and JavaScript using VSCode.</li>
          <li>Leverages Express, Handlebars, NodeJS, JawsDB, PassportJS, and Heroku</li>
        </ul>
        <h5>Tour of Honor (iOS) | <a href="https://github.com/DJFriar/iTOH-2">Source Code</a> | <a
            href="https://apps.apple.com/ca/app/tour-of-honor/id1502873246">App Store Listing</a></h5>
        <ul>
          <li>App is user to assist rally participants with submitting proof of visiting a given memorial. The app also
            acts as an off-line rally book containing all applicable memorial information.</li>
          <li>Handled entire project from concept to pitch to coding to deployment to post sales support on both iOS and
            Android platforms.</li>
          <li>Created in SwiftUI using Xcode.</li>
          <li>Android version created using Java and Android Studio and available on the Google Play Store.</li>
        </ul>
        <h4>Work Experience</h4>
        <h5>Development Project Manager | Yardi Systems | Jan 2015 - Present</h5>
        <ul>
          <li>Led the successful conversion of a 7,000+ user worldwide intranet portal from SharePoint 2013 to a custom
            .Net/Angular technology stack, including an extensive design refresh.</li>
          <li>Managed four separate products (internal and client facing) while helming a multinational team across four
            timezones and two continents.</li>
          <li>Contributed both senior level technical expertise as well as junior developer level code commits to
            shipping products.</li>
          <li>Instructed clients and employees via in-person conferences, live webinars, pre-recorded videos, and
            internal seminars.</li>
        </ul>
        <h5>Support Lead | medQ | Sep 2013 - Jan 2015</h5>
        <ul>
          <li>Coordinated support between clients and Romania based engineers and developers.</li>
          <li>Managed two other technicians and served as point of contact for larger clients.</li>
          <li>Administered the ticketing system (SysAid), in-house IT needs, and end user training.</li>
        </ul>
        <h4>Education</h4>
        <h5>SMU Cox, Dallas, TX — Certificate in Full Stack Web Development (2021)</h5>
        <p>
          A 24-week intensive program focused on gaining technical programming skills in HTML5, CSS3, Javascript,
          JQuery, Bootstrap, Firebase, Node Js, MySQL, MongoDB, Express, Handelbars.js & ReactJS.
        </p>
        <h4>Contact Info</h4>
        <a href="mailto:tomccraft@gmail.com">Email</a> | <a href="https://github.com/DJFriar">GitHub</a> | <a
          href="https://www.linkedin.com/in/djfriar/">LinkedIn</a>
      </main>
    </div>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
</body>

</html>