<!DOCTYPE html>
<html lang="en">
<head>
		<%- include('../partials/head'); %>
</head>
<body>
	<div class="container" uk-height-viewport="expand: true">
		<div class="gradientbar"></div>
		<%- include('../partials/topnav'); %>
		<div>&nbsp;</div>
		<main>
		<h3>2018 Honda Gold Wing Tour DCT</h3>
		<img data-src="/images/gwen.jpeg" alt="2018 Honda Gold Wing Tour DCT" class="reportImage" uk-img uk-toggle="target: #gwen">
		<p>I bought Gwen on March 2018 from Russellville Honda in Russellville, AR.</p>		
		<h4>Modifications</h4>
		<ul>
			<li>F4 Customs 20" Tinted Windshield</li>
			<li>Clearwater Darla Fog Lamps</li>
			<li>Bridgestone DriveGuard 195/55RF16 Rear Tire</li>
			<li>Goldstrike Mini Floorboards</li>
			<li>Goldstrike Brake Extender</li>
			<li>Garmin Nuvi XT</li>
			<li>HeliBar Risers</li>
			<li>Ultimate Backrest</li>
			<li>Warm N Safe Heated Gear/Heatroller</li>
			<li>RAM X-Grip Cell Mount</li>
			<li>Rivco Flip Out Highway Pegs</li>
			<li>Big Ass Cup Holder</li>
			<li>Honda Trunk Mat</li>
			<li>Electrical Connection Trunk Dividers</li>
			<li>Traxxion One-Piece Seat Bolts</li>
			<li>K&N Air Filter</li>
			<li>CarPlay Bluetooth Bypass</li>
			<li>HomeLink</li>
		</ul>
		<h4>Planned Mods</h4>
		<ul>
			<li>HeliBars</li>
			<li>Hydration System</li>
			<li>Centramatic Wheel Balancers</li>
			<li>Aux Fuel Tank</li>
			<li>Clearwater Dixies</li>
		</ul>
		</main>
	</div>
		<footer>
				<%- include('../partials/footer'); %>
		</footer>
		
	<div id="gwen"class="uk-modal-full" uk-modal>
		<div class="uk-modal-dialog uk-modal-body">
			<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
			<h4 class="uk-modal-title">Ending Receipt</h4>
			<img data-src="/images/gwen.jpeg" alt="2018 Honda Gold Wing Tour DCT" class="modalImage" uk-img>
		</div>
	</div>
</body>
</html>