<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="gradientbar"></div>
  <div class="container" uk-height-viewport="expand: true">

    <div>&nbsp;</div>
    <div class="uk-position-center">
      <h2 class="uk-text-center">Tommy Craft</h2>
      <div id="songlyric" uk-tooltip="title: click to see another song lyric; pos: bottom; delay: 150"
        onClick="getRandomLyric()">the exhibits that are shown, are exclusively my own</div>
      <div id="social-links">
        <a href="https://www.github.com/djfriar" class="hidden-link" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com/djfriar" class="hidden-link" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.twitter.com/djfriar" class="hidden-link" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </div>

      <div class="uk-width-1-1@s">
        <ul class="uk-nav-default uk-nav-center" uk-nav>
          <!-- <li><a href="/aboutme">About Me</a></li> -->
          <li class="uk-parent">
            <a href="#">Development</a>
            <ul class="uk-nav-sub">
              <li><a href="/devportfolio">Portfolio</a></li>
              <li><a href="/devresume">Resume</a></li>
              <!-- <li><a href="/devmisc">Thoughts</a></li> -->
            </ul>
          </li>
          <li class="uk-parent">
            <a href="#">Motorcycling</a>
            <ul class="uk-nav-sub">
              <li><a href="/gwen">Gwen</a></li>
              <li><a href="/riderresume">Riding Resume</a></li>
              <li><a href="/ridereports">Ride Reports</a></li>
            </ul>
          </li>
          <!-- <li class="uk-parent">
						<a href="#">Photography</a>
						<ul class="uk-nav-sub">
							<li><a href="/photogear">My Gear</a></li>
							<li><a href="/photography">Portfolio</a></li>
						</ul>
					</li>
					<li><a href="/misc">Potpourri</a></li> -->
        </ul>
      </div>
    </div>
  </div>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  </div>
  <script src="/js/lyrics.js"></script>
</body>

</html>