<!DOCTYPE html>
<html lang="en">
<head>
		<%- include('../partials/head'); %>
</head>
<body>
	<div class="gradientbar"></div>
	<div class="container" uk-height-viewport="expand: true">
		<div>&nbsp;</div>
		<main>
		Misc content goes here.
		</main>
	</div>
		<footer>
				<%- include('../partials/footer'); %>
		</footer>
</body>
</html>