<!DOCTYPE html>
<html lang="en">
	<head>
			<%- include('../partials/head'); %>
	</head>
	<body>
		<div class="container" uk-height-viewport="expand: true">
			<div class="gradientbar"></div>
			<%- include('../partials/topnav'); %>
			<main>
				<h3>Development Portfolio</h3>
				<p>&nbsp;</p>
				<div uk-grid>
					<div class="uk-width-1-3">
						<h6>Eat-Da-Burger</h6>
						<ul>
							<li>Language: JavaScript</li>
							<li><a href="https://github.com/DJFriar/SMU-Homework-13-Node-Express-Handlebars">Source Code</a></li>
							<li><a href="https://emu-homework-13.herokuapp.com">Deployed Site</a></li>
						</ul>
					</div>
					<div class="uk-width-2-3">
						<img data-src="/images/dev/eat-da-burger.png" alt="Eat-Da-Burger Screenshot" class="reportImage" uk-img uk-toggle="target: #eatdaburger">
					</div>
				</div>
				<div uk-grid>
					<div class="uk-width-1-3">
						<h6>Password Generator</h6>
						<ul>
							<li>Language: JavaScript</li>
							<li><a href="https://github.com/DJFriar/SMU-Homework-03-Password-Generator">Source Code</a></li>
							<li><a href="https://djfriar.github.io/SMU-Homework-03-Password-Generator/">Deployed Site</a></li>
						</ul>
					</div>
					<div class="uk-width-2-3">						
						<img data-src="/images/dev/password-generator.png" alt="Password Generator Screenshot" class="reportImage" uk-img uk-toggle="target: #pwgen">
					</div>
				</div>
				<div uk-grid>
					<div class="uk-width-1-3">
						<h6>Tour of Honor (iOS and Android)</h6>
						<ul>
							<li>Language: SwiftUI (iOS) and Java (Android)</li>
							<li><a href="https://github.com/DJFriar/iTOH-2">Source Code</a></li>
							<li><a href="https://apps.apple.com/ca/app/tour-of-honor/id1502873246">App Store Listing</a></li>
						</ul>
					</div>
					<div class="uk-width-2-3">	
						<img data-src="/images/gwen.jpeg" alt="2018 Honda Gold Wing Tour DCT" class="reportImage" uk-img uk-toggle="target: #gwen">
					</div>
				</div>
				<div uk-grid>
					<div class="uk-width-1-3">
						<h6>Code Quiz</h6>
						<ul>
							<li>Language: JavaScript</li>
							<li><a href="https://github.com/DJFriar/SMU-Homework-04-Code-Quiz">Source Code</a></li>
							<li><a href="https://djfriar.github.io/SMU-Homework-04-Code-Quiz/">Deployed Site</a></li>
						</ul>
					</div>
					<div class="uk-width-2-3">
						<img data-src="/images/dev/code-quiz.png" alt="Code Quiz Screenshot" class="reportImage" uk-img uk-toggle="target: #codequiz">
					</div>
				</div>
			</main>
		</div>
		<footer>
				<%- include('../partials/footer'); %>
		</footer>
		<div id="gwen"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">Tour of Honor</h4>
				<img data-src="/images/gwen.jpeg" alt="2018 Honda Gold Wing Tour DCT" class="modalImage" uk-img>
			</div>
		</div>
		<div id="pwgen"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">Password Generator</h4>
				<img data-src="/images/dev/password-generator.png" alt="Password Generator Screenshot" class="modalImage" uk-img>
			</div>
		</div>
		<div id="codequiz"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">Code Quiz</h4>
				<img data-src="/images/dev/code-quiz.png" alt="Code Quiz Screenshot" class="modalImage" uk-img>
			</div>
		</div>
		<div id="eatdaburger"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">Eat-Da-Burger</h4>
				<img data-src="/images/dev/eat-da-burger.png" alt="Eat-Da-Burger Screenshot" class="modalImage" uk-img>
			</div>
		</div>
	</body>
</html>