<!DOCTYPE html>
<html lang="en">
	<head>
			<%- include('../partials/head'); %>
	</head>
	<body>
		<div class="container" uk-height-viewport="expand: true">
			<div class="gradientbar"></div>
			<%- include('../partials/topnav'); %>
			<main>
				<h3>Development Portfolio</h3>
        <p class="uk-visible@m" style="margin: 10px 0px;">&nbsp;</p>
        <div class="portfolioItem" uk-grid>
          <div class="uk-width-1-3@m uk-text-center">
						<img data-src="/images/dev/outdoor-adventures-sm.jpg" alt="Outdoor Adventures Screenshot" class="reportImage uk-visible@s " uk-img uk-toggle="target: #outdoor">
						<img data-src="/images/dev/outdoor-adventures-sm.jpg" alt="Outdoor Adventures Screenshot" class="reportImage uk-hidden@s " uk-img>
          </div>
					<div class="uk-width-2-3@m uk-flex-first@m portBtnSection">
            <h4>Outdoor Adventures <span class="inlineIcon fab fa-js-square fa-lg"></span><span class="inlineIcon fab fa-node-js fa-lg"></span></h4>
            <p>
              <span class="inlineStrong">Description:&nbsp;</span>
              This was a group project that I worked on with two other students. We were to come up with a site that utilized at least one external 3rd party API,
              leveraged Express and NodeJS, and introduced at least one new framework we had not worked with before. We decide to build a site that used National Park 
              Service data to allow for users to view details about the various parks and then add them to a list of either parks they had visited already, or parks that 
              they would like to visit.
            </p>
            <p><span class="inlineStrong">Key Technologies Used:&nbsp;</span>Axios, Bootstrap, Express, Handlebars, Heroku, MySQL, Passport, Sequlize</p>
            <div class="uk-text-center@s uk-text-left@m">
              <a href="https://github.com/DJFriar/SMU-Project-02-Outdoor-Adventures" class="uk-button uk-button-default uk-width-small portBtn" target="_blank">
                <span class="inlineIcon fab fa-github fa-lg"></span> View Source
              </a>
              <a href="https://smu-project-outdoor-adventures.herokuapp.com/" class="uk-button uk-button-default uk-width-small portBtn" target="_blank">
                <span class="inlineIcon fas fa-external-link-alt fa-lg"></span> View App
              </a>
            </div>
          </div>
        </div>
				<div class="portfolioItem" uk-grid>
          <div class="uk-width-1-3@m uk-text-center">
						<img data-src="/images/dev/homework-14-sm.jpg" alt="Homework 14 Screenshot" class="reportImage uk-visible@s" uk-img uk-toggle="target: #homework14">
						<img data-src="/images/dev/homework-14-sm.jpg" alt="Homework 14 Screenshot" class="reportImage uk-hidden@s" uk-img>
          </div>
					<div class="uk-width-2-3@m uk-flex-first@m portBtnSection">
            <h4>Reverse Engineering Code <span class="inlineIcon fab fa-js-square fa-lg"></span><span class="inlineIcon fab fa-uikit fa-lg"></span></h4>
            <p>
              <span class="inlineStrong">Description:&nbsp;</span>
              In this assignment we were to review a sample site and describe what was going on with the code. While we could have done this with a simple Word doc, 
              I chose to make a website that leveraged PrismJS to stylize the code and have my notes next to it.
            </p>
            <p><span class="inlineStrong">Key Technologies Used:&nbsp;</span>Express, PrismJS, UIKit</p>
            <div class="uk-text-center@s uk-text-left@m">
              <a href="https://github.com/DJFriar/SMU-Homework-14-Reverse-Engineering-Code" class="uk-button uk-button-default uk-width-small portBtn" target="_blank">
                <span class="inlineIcon fab fa-github fa-lg"></span> View Source
              </a>
              <a href="https://emu-homework-14.herokuapp.com" class="uk-button uk-button-default uk-width-small portBtn" target="_blank">
                <span class="inlineIcon fas fa-external-link-alt fa-lg"></span> View App
              </a>
            </div>
          </div>
        </div>
        <div class="portfolioItem" uk-grid>
          <div class="uk-width-1-3@m uk-text-center">
						<img data-src="/images/dev/code-quiz-sm.jpg" alt="Code Quiz Screenshot" class="reportImage uk-visible@s" uk-img uk-toggle="target: #codequiz">
						<img data-src="/images/dev/code-quiz-sm.jpg" alt="Code Quiz Screenshot" class="reportImage uk-hidden@s" uk-img>
          </div>
					<div class="uk-width-2-3@m uk-flex-first@m portBtnSection">
            <h4>Code Quiz <span class="inlineIcon fab fa-js-square fa-lg"></span></h4>
            <p>
              <span class="inlineStrong">Description:&nbsp;</span>
              This was the 4th homework assignment I was assigned. The goal here was to create an app that allowed the user to take a timed multiple choice quiz test and then would score the user at the end. 
            </p>
            <p><span class="inlineStrong">Key Technologies Used:&nbsp;</span>Bootstrap, CSS, HTML5, jQuery</p>
            <div class="uk-text-center@s uk-text-left@m">
              <a href="https://github.com/DJFriar/SMU-Homework-04-Code-Quiz" class="uk-button uk-button-default uk-width-small portBtn" target="_blank">
                <span class="inlineIcon fab fa-github fa-lg"></span>View Source
              </a>
              <a href="https://djfriar.github.io/SMU-Homework-04-Code-Quiz/" class="uk-button uk-button-default uk-width-small portBtn" target="_blank">
                <span class="inlineIcon fas fa-external-link-alt fa-lg"></span>View App
              </a>
            </div>
					</div>
        </div>
				<div class="portfolioItem" uk-grid>
          <div class="uk-width-1-3@m uk-text-center">	
						<img data-src="/images/dev/password-generator-sm.jpg" alt="Password Generator Screenshot" class="reportImage uk-visible@s" uk-img uk-toggle="target: #pwgen">
						<img data-src="/images/dev/password-generator-sm.jpg" alt="Password Generator Screenshot" class="reportImage uk-hidden@s" uk-img>
          </div>
          <div class="uk-width-2-3@m uk-flex-first@m portBtnSection">
            <h4>Password Generator <span class="inlineIcon fab fa-js-square fa-lg"></span></h4>
            <p>
              <span class="inlineStrong">Description:&nbsp;</span>
              A password generator site that allows you to set your complexity requirements and then generate randomized passwords that meet those requirements. This was 
              the 3rd homework project in the Full Stack Web Dev course.
            </p>
            <p><span class="inlineStrong">Key Technologies Used:&nbsp;</span>Bootstrap, CSS, HTML5, jQuery</p>
            <div class="uk-text-center@s uk-text-left@m">
              <a href="https://github.com/DJFriar/SMU-Homework-03-Password-Generator" class="uk-button uk-button-default uk-width-small portBtn" target="_blank">
                <span class="inlineIcon fab fa-github fa-lg"></span>View Source
              </a>
              <a href="https://djfriar.github.io/SMU-Homework-03-Password-Generator/" class="uk-button uk-button-default uk-width-small portBtn" target="_blank">
                <span class="inlineIcon fas fa-external-link-alt fa-lg"></span>View App
              </a>
            </div>
          </div>
				</div>
        <div class="portfolioItem" uk-grid>
          <div class="uk-width-1-3@m uk-text-center">	
						<img data-src="/images/dev/toh-apps-sm.png" alt="Tour of Honor Mobile App Screenshot" class="reportImage uk-visible@s" uk-img uk-toggle="target: #gwen">
						<img data-src="/images/dev/toh-apps-sm.png" alt="Tour of Honor Mobile App Screenshot" class="reportImage uk-hidden@s" uk-img>
          </div>
					<div class="uk-width-2-3@m uk-flex-first@m portBtnSection">
            <h4>Tour of Honor Mobile <span class="inlineIcon fab fa-swift fa-lg"></span><span class="inlineIcon fab fa-java fa-lg"></span></h4>
            <p>
              <span class="inlineStrong">Description:&nbsp;</span>
              The <a href="https://www.tourofhonor.com" target="_blank">Tour of Honor</a> is a motorcycle rally that uses various military and first responder memorials as rally locations. Starting out using physical 
              pictures and snail mail, they recently started to allow for emailed in submissions that had specific subject formatting and such. So I volunteered 
              to make them an app that made submitting easier for participants and this is the result of that. The iOS version came out first, followed by an Android 
              version. The iOS version has since been rewritten from scratch using SwiftUI and is currently on version 2.
            </p>
            <p><span class="inlineStrong">Key Technologies Used:&nbsp;</span>Xcode, Android Studio, Swift, SwiftUI, Java</p>
            <div class="uk-text-center@s uk-text-left@m">
              <a href="https://github.com/DJFriar/iTOH-2" class="uk-button uk-button-default portBtn"  target="_blank">
                <span class="inlineIcon fab fa-github fa-lg"></span>View <span class="inlineIcon fab fa-apple fa-lg"></span> Source
              </a>
              <a href="https://apps.apple.com/us/app/tour-of-honor/id1502873246?itsct=apps_box&amp;itscg=30200" class="portBtn" target="_blank">
                <img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-US?size=250x83&amp;releaseDate=1585526400&h=12560d5f7739fe5f75e26c3b05eddee5" alt="Download on the App Store" style="width: 120px; height: 40px;">
              </a>
            </div>
            <div class="uk-text-center@s uk-text-left@m">
              <a href="https://github.com/DJFriar/aTourofHonor" class="uk-button uk-button-default portBtn"  target="_blank">
                <span class="inlineIcon fab fa-github fa-lg"></span>View <span class="inlineIcon fab fa-android fa-lg"></span> Source
              </a>
              <a href='https://play.google.com/store/apps/details?id=net.tommyc.android.tourofhonor2&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' class="uk-button portBtn androidBtn" target="_blank">
                <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
              </a>
            </div>
					</div>
				</div>
			</main>
		</div>
		<footer>
				<%- include('../partials/footer'); %>
		</footer>
		<div id="gwen"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">Tour of Honor (Android & iOS)</h4>
				<img data-src="/images/dev/toh-apps-lg.png" alt="Tour of Honor Mobile App Screenshot" class="modalImage" uk-img>
			</div>
		</div>
		<div id="pwgen"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">Password Generator</h4>
				<img data-src="/images/dev/password-generator-lg.jpg" alt="Password Generator Screenshot" class="modalImage" uk-img>
			</div>
		</div>
		<div id="codequiz"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">Code Quiz</h4>
				<img data-src="/images/dev/code-quiz-lg.jpg" alt="Code Quiz Screenshot" class="modalImage" uk-img>
			</div>
		</div>
		<div id="homework14"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">Reverse Engineering Code</h4>
				<img data-src="/images/dev/homework-14-lg.jpg" alt="Homework 14 Screenshot" class="modalImage" uk-img>
			</div>
    </div>
    <div id="outdoor"class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<h4 class="uk-modal-title">Outdoor Adventures</h4>
				<img data-src="/images/dev/outdoor-adventures-lg.jpg" alt="Outdoor Adventures Screenshot" class="modalImage" uk-img>
			</div>
    </div>
    <script src="/js/portfolio.js"></script>
	</body>
</html>