<!DOCTYPE html>
<html lang="en">
<head>
		<%- include('../partials/head'); %>
</head>
<body>
	<div class="gradientbar"></div>
	<%- include('../partials/topnav'); %>
	<div class="container" uk-height-viewport="expand: true">
		<div>&nbsp;</div>
		<main>
			<h3>My Riding Resume</h3>
			<p>
				Below you will find the rides I have completed as well as a list of planned rides for the year.
			</p>
			<h4>Planned Rides</h4>
			<p>
				Covid managed to torpedo almost every multi-day rally I had planned for 2020, but here are my planned rides for 2021:
			</p>
			<ul>
				<li>2021 Tour of Honor (TOH) - April 1st - October 31st</li>
        <li>Lobo Locos "Mission From God" - October 2021</li>
			</ul>
			<h4>Completed Rides</h4>
			<p>
				Below are a list of my completed rides so far.
			</p>
			<h5>IBA Rides</h5>
			<ul>
				<li>Ride Around Texas Insanity - October 2021</li>
				<li>BunBurner 1500 Gold - July 2021</li>
				<li>SaddleSore 2000 Gold - November 2020</li>
				<li>BunBurner 1500 Silver - November 2020</li>
				<li>Tour of Honor SaddleSore 1000 - October 2020</li>
				<li>SantaSore 1000 - December 2019</li>
				<li>BunBurner 1500 Silver - December 2019</li>
				<li>SaddleSore 1000 - December 2019</li>
				<li>Tour of Honor BunBurner 1500 - August 2019</li>
				<li>Tour of Honor Extreme SaddleSore 1000 - August 2019</li>
				<li>BunBurner 1500 Silver - June 2019</li>
				<li>SaddleSore 1000 - June 2019</li>
			</ul>
			<h5>Misc Rides</h5>
			<ul>
				<li>Tour of Honor 2020 - Finisher / Doughboy Bronze</li>
				<li>Big Money Rally 2020 - Gold (Phase One) / Battle Born (Overall)</li>
				<li>Lobo Locos Day Off (October 2019) - 3rd Overall</li>
				<li>Hammy’s Tipsy Goat (September 2019) - 1st Overall</li>
				<li>Tour of Honor 2019 - Finisher</li>
				<li>Lobo Locos Just Sayin' (June 2019) - Finisher</li>
				<li>Big Money Rally 2019 - Silver</li>
				<li>Space Colony Alpha One (May 2018) - Finisher</li>
				<li>Big Money Rally 2018 - Bronze</li>
			</ul>
		</main>
	</div>
		<footer>
				<%- include('../partials/footer'); %>
		</footer>
</body>
</html>