<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <div class="container" uk-height-viewport="expand: true">
    <div class="gradientbar"></div>
    <%- include('../../partials/topnav'); %>
      <div>&nbsp;</div>
      <main>
        <h3>My Motorcycle History</h3>
        <p>
          Unlike my car history, I haven't owned nearly as many motorcycles. Nevertheless, below you will find a reverse chronological list of the bikes I have owned. Some of them can be clicked on for more details.
        </p>
        <ul>
          <li><a href="/gwen">2018 Honda Gold Wing Tour DCT</a></li>
          <li>2014 Honda CTX700</li>
          <li>2015 Harley Davidson Road King</li>
          <li>2014 Harley Davidson Softail Slim</li>
          <li>2005 Honda VTX1800R</li>
          <li>2003 Honda Shadow 750 Spirit</li>
        </ul>
      </main>
  </div>
  <footer>
    <%- include('../../partials/footer'); %>
  </footer>

</body>

</html>